<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Component</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-bluecus">
    <!-- <section class="pl-[82px] pr-[1326px] pt-[153px] pb-[572px]"> -->
        <div class="inputtweet inline-flex w-[32rem] h-[22.188rem] py-2.5 px-[15px] flex-col justify-between items-center shrink-0 rounded-2xl-none bg-neutral-1000"></div>
    <!-- </section> -->
    </div>

    <section>
        <!-- main container -->
        <div class="inline-flex flex-col py-2.5 px-[15px] items-start gap-3 rounded-2xl-none bg-neutral-1000">
            <div class="flex w-[30.125rem] py-3 px-4 items-center gap-5">
                <img src="/public/images/signup-xtweet.svg" alt="twitter-logo" class="shrink-0 h-6 w-6">
                <div class="px-[20px] text-[15px] not-italic leading-normal font-bold text-neutral-50">
                    Header
                </div>
            </div>
            <div class="flex h-36 flex-col pt-20 px-5 pb-5 items-start self-stretch gap-2.5">

            </div>

        </div>
    </section>

    <section class="py-4">
        <div class="inline-flex flex-col py-2.5 px-[15px] items-start gap-3 rounded-2xl-none bg-neutral-1000">
            <div class="flex w-[30.125rem] py-3 px-4 items-center gap-5">
                <img src="/public/images/signup-xtweet1.png" alt="twitter" class="shrink-0 h-6 w-6">
            </div>
            <div class="flex h-36 flex-col pt-20 px-5 pb-5 items-start self-stretch gap-2.5">

            </div>
        </div>
    </section>


</body>
</html>