<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components Assignment</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class = "bg-neutral-1000">


    <div class="button-container flex">

        <div>
                  <!-- Default Look: For Create Account Button -->
    <section class="py-8">
        <button class="flex w-[20.875rem] py-2 px-6 justify-center items-center gap-2.5 rounded-normal bg-neutral-50 shadow-3xl backdrop-blur-xl">

            <div class="text-neutral-1000 text-center text-base not-italic font-bold leading-normal">
                Create Account
            </div>
        </button>
    </section>

    <!-- On Hover State: Create Account Button -->
    <section>
        <button class="flex w-[20.875rem] py-2 px-6 justify-center items-center gap-2.5 rounded-normal bg-neutral-200 shadow-3xl backdrop-blur-xl">

            <div class="text-neutral-1000 text-center text-base not-italic font-bold leading-normal">
                Create Account
            </div>
        </button>
    </section>

    <!-- Disabled State: Create Account -->
    <section class="py-8">
        <button class="flex w-[20.875rem] py-2 px-6 justify-center items-center gap-2.5 rounded-normal bg-neutral-200 shadow-3xl backdrop-blur-xl opacity-50">

            <div class="text-neutral-1000 text-center text-base not-italic font-bold leading-normal">
                Create Account
            </div>
        </button>
    </section>

    <!-- Signup Button: Outline -->
    <section>
        <button class="flex w-[20.875rem] py-2 px-6 justify-center items-center gap-2.5 rounded-normal shadow-3xl backdrop-blur-xl border border-solid border-stroke">

            <div class="text-center text-base not-italic font-bold leading-normal text-twitterblue">
                Sign up
            </div>
        </button>
    </section>
        </div>

   

        <div class="py-8 pl-9">
            <section >
                <button class="inline-flex py-2 px-5 justify-center items-center gap-2.5 rounded-n1 bg-neutral-50 ">
                    <div class="text-neutral-1000 text-sm not-italic font-bold leading-normal">
                        Follow
                    </div>
                </button>
            </section>

            <section class="py-8">
                <button class="inline-flex py-2 px-5 justify-center items-center gap-2.5 rounded-n1 bg-neutral-200 ">
                    <div class="text-neutral-1000 text-sm not-italic font-bold leading-normal">
                        Follow
                    </div>
                </button>
            </section>

            <section class="">
                <button class="inline-flex py-2 px-5 justify-center items-center gap-2.5 rounded-n1 bg-neutral-200 opacity-50">
                    <div class="text-neutral-1000 text-sm not-italic font-bold leading-normal">
                        Follows
                    </div>
                </button>
            </section>


        </div>
   
        <div class="py-8 pl-9">
            <section>
                <button class="flex py-3 px-6 justify-center items-center gap-2.5 w-[27.625rem] rounded-normal bg-neutral-50 shadow-3xl backdrop-blur-xl">
                    <div class="text-neutral-1000 justify-center text-base not-italic font-bold leading-normal">
                        Next
                    </div>
                </button>
            </section>

            <section class="py-8">
                <button class="flex py-3 px-6 justify-center items-center gap-2.5 w-[27.625rem] rounded-normal bg-neutral-200 shadow-3xl backdrop-blur-xl">
                    <div class="text-neutral-1000 justify-center text-base not-italic font-bold leading-normal">
                        Next
                    </div>
                </button>
            </section>

            <section class="">
                <button class="flex py-3 px-6 justify-center items-center gap-2.5 w-[27.625rem] rounded-normal bg-neutral-200 shadow-3xl backdrop-blur-xl opacity-50">
                    <div class="text-neutral-1000 justify-center text-base not-italic font-bold leading-normal">
                        Next
                    </div>
                </button>
            </section>

            <section class="py-8 pl-12">
                <button class="inline-flex justify-center items-center gap-2.5 py-1.5 px-4 rounded-normal border border-solid border-stroke shadow-3xl backdrop-blur-xl">
                    <div class="text-neutral-50 text-sm not-italic leading-normal">
                        Following
                    </div>
                </button>
            </section>
            
            
        </div>
    

      

    </div>
   
      <!-- Post Btn -->
      <div class="button-container flex ">
        <div>
            <section class="">
                <button class="inline-flex px-[93px] py-[15px] justify-center items-center gap-2.5 rounded-xl1 bg-twitterblue">
                    <div class="text-base not-italic leading-normal font-bold text-neutral-50">
                        Post
                    </div>
                </button>
            </section>
    
            <section class="py-8">
                <button class="inline-flex px-[93px] py-[15px] justify-center items-center gap-2.5 rounded-xl1 bg-postblue">
                    <div class="text-base not-italic leading-normal font-bold text-neutral-50">
                        Post
                    </div>
                </button>
            </section>

            <section class>
                <button class="inline-flex px-[93px] py-[15px] justify-center items-center gap-2.5 rounded-n1 bg-twitterblue opacity-50">
                    <div class="text-base not-italic leading-normal font-bold text-neutral-50">
                        Post
                    </div>
                </button>
            </section>
        </div>

        <!-- 2nd set of Post Btn -->
        <div class=" pl-9 ">
        <section>
            <button class="inline-flex py-3 px-6 items-center justify-center gap-2.5 rounded-n1 bg-twitterblue">
                <div class="text-neutral-50 text-center not-italic leading-normal font-bold text-base">
                    Post
                </div>
            </button>
        </section>

        <section class="py-9">
            <button class="inline-flex py-3 px-6 items-center justify-center gap-2.5 rounded-n1 bg-postblue">
                <div class="text-neutral-50 text-center not-italic leading-normal font-bold text-base">
                    Post
                </div>
            </button>
        </section>
        

        <section class="py-2">
            <button class="inline-flex py-3 px-6 items-center justify-center gap-2.5 rounded-n1 bg-postblue opacity-50">
                <div class="text-neutral-50 text-center not-italic leading-normal font-bold text-base">
                    Post
                </div>
            </button>
        </section>

        </div>
       

        <!-- 3rd Set: Post Button -->
        <div>
            <section class="pl-4">
                <button class="flex items-center justify-center w-[27.625rem] gap-2.5 rounded-xl1 bg-twitterblue p-5">
                    <div class="text-twitterwhite-100 leading-normal not-italic text-base font-medium">
                        Post
                    </div>
                </button>
            </section>
    
            <section class="pl-4 py-2">
                <button class="flex items-center justify-center w-[27.625rem] gap-2.5 rounded-xl1 bg-postblue p-5">
                    <div class="text-twitterwhite-100 leading-normal not-italic text-base font-medium">
                        Post
                    </div>
                </button>
            </section>
            
            </button>
            
            <section class = "pl-3">
               
                <button class="flex items-center justify-center w-[27.625rem] gap-2.5 rounded-xl1 bg-postblue p-5 opacity-50">
                    <div class="text-twitterwhite-100 leading-normal not-italic text-base font-medium">
                        Post
                    </div>
                </button>

            </section>
        </div>
        

    </div>

    <!-- Text -->
    <div class="flex flex-row align-top py-9">
        <div class="text-neutral-400 font-sans text-base not-italic font-normal leading-normal ">
            For you
        </div>

        <div class="text-neutral-50 font-sans text-base not-italic font-normal leading-normal px-4">
            Following
        </div>

    </div>    


    <div class="flex flex-row">
        <div>
            <img src="/public/images/state-selected.png" alt="Selected State" class="w-6 h-6 shrink-0">
            <img src="/public/images/state-not-selected.png" alt="Not Selected state" class="w-6 h-6 shrink-0">
        </div>

        <div>
            <img src="/public/images/group.svg" alt="Profile Not selected" class="flex w-6 h-6 p-1 items-center justify-center shrink-0">
            <img src="/public/images/state-selected.svg" alt="Profile Selected" class="w-6 h-6 shrink-0">
        </div>
        
    </div>
    

</body>
</html>