<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignment 1.2 Input Components</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000">

        
            <!-- <input type="text"  class="flex gap-2.5 w-[26.625rem] items-center py-4 px-3 rounded border border-solid border-neutral-500 text-neutral-500 leading-normal font-normal text-xl not-italic  bg-black" placeholder="Label"> -->
       
        <section class="pt-5">
            <div class="flex w-[26.625rem] items-center py-4 px-3 gap-2.5 rounded border border-solid border-neutral-500">
                <p class="text-neutral-500 not-italic font-normal text-xl ">Label</p>

               </div> 
        </section>
            
       

        <!-- <div class="flex items-center p-2">
           
                <input type="text"  class="flex gap-2.5 w-[26.625rem] items-center py-4 px-3 rounded border border-solid border-neutral-500 text-neutral-50 leading-normal font-normal text-xl not-italic  bg-black" placeholder="value">
                <img src="/public/images/icon.png" alt="tick" class="w-6 h-6 shrink-0 ml-0"> 
        </div>     -->

        <section class="pt-5">
            <div class="flex gap-2.5 w-[26.625rem] items-center py-4 px-3 rounded border border-solid border-twitterblue text-neutral-50 leading-normal font-normal text-xl not-italic justify-between bg-black">
                <p class="text-neutral-50 leading-normal font-normal text-xl not-italic">value</p>
                <img src="/public/images/icon.png" alt="tick" class="w-6 h-6 shrink-0">
    
            </div>
        </section>
        

        
        
        
    <div class="flex flex-row pt-12">
        <img src="/public/images/user-avatarip.png" alt="user-avatar" class="w-9 h-9 shrink-0 rounded-[200px]">
        <!-- <div class="flex w-[30.125rem] items-start gap-3"> -->
            <div class="flex shrink-0 w-[27.125rem] items-center self-stretch px-[12px]">
                <!-- <input type="text" placeholder="What's happening?!" class="placeholder-neutral-600 leading-normal font-normal not-italic text-sl border-none bg-black" > -->
                
                <!-- To have the cursor line before entering the text input -->
                <div class="w-px h-9 bg-twitterblue "></div>
                <p class="text-neutral-600 leading-normal font-normal not-italic text-xl ">What's happening?!</p>    
    
            </div>
        <!-- </div> -->
            
        
        
        
    
    </div>

    <!-- Filled Input -->
    <div class="flex pt-12">
        <img src="/public/images/user-avatarip.png" alt="user-avatar" class="w-9 h-9 shrink-0 rounded-[200px]">
            <div class="flex shrink-0 w-[27.125rem] items-center self-stretch px-[12px]">
                <div class="w-px h-9 bg-twitterblue "></div>
                <p class="text-neutral-50 leading-normal font-normal not-italic text-xl ">Don't wish for it work for it</p>

            </div>
        
            <!-- <input type="text" value="Don't wish for it work for it" class="text-neutral-50 leading-normal font-normal not-italic text-sl border-none bg-black" >  -->
    </div> 

    <section class="py-8">
        <button class="flex w-[21.75rem] h-[2.438rem] py-2.5 pl-4 pr-[247px] shrink-0 items-start gap-[0.938rem] rounded-xl1 bg-searchbar-fill">
            <img src="/public/images/dark-theme-search-group.png" alt="Search icon" class="flex shrink-0 items-center justify-center w-[1.188rem] h-[1.188rem] pt-[1.583px] pl-[1.583px] pb-[1.78px] pr-[1.78px]">
            <div class="text-neutral-600 leading-none not-italic font-normal text-base">
                Search
            </div>
        </button>

    </section>
    
    <section>
        <button class="flex w-[21.75rem] h-[2.438rem] py-2.5 pl-4 pr-[247px] shrink-0 items-start gap-[0.938rem] rounded-xl1 bg-searchbar-fill border border-solid border-twitterblue">
            <img src="/public/images/dark-theme-search-group.svg" alt="Search icon" class="flex shrink-0 items-center justify-center w-[1.188rem] h-[1.188rem] pt-[1.583px] pl-[1.583px] pb-[1.78px] pr-[1.78px]">
            <div class="text-neutral-50 leading-4 not-italic font-normal text-base">
                Search
            </div>
        </button>
    </section>
        

    
</body>
</html>