<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet Component</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000">


    <section class="pt-6">
        <div class="flex w-[37.375rem] py-2 px-4 items-start gap-4 border border-solid border-neutral-700">
            <div class="flex flex-row">
                <div class="w-12 h-12 shrink-0 rounded-[200px]-none bg-no-repeat bg-cover" style="background: url(/public/images/user-avatar.png);">
                </div>
    
            <div class="flex flex-col">
                <div class="flex flex-row">
                    <div class="text-neutral-50 leading-normal not-italic font-medium text-base px-[16px]">Name </div>
                    <div class="text-neutral-500 ">@handle • 10h</div>
                </div>
                <p class="tweet-content self-stretch font-normal leading-normal not-italic text-base text-neutral-50 px-[16px]">
                    Writing gets easier after the first sentence.Lifting gets easier after the first set.People think and think and think until they finally decide to act. Their attention shifts from internal to external, and the difficulty they created in their mind vanishes.
                </p>
    
                <div class="user-actions flex py-3 px-0 justify-between items-center self-stretch">
                
                    <div class="flex justify-center items-center gap-[0.313rem] ">
                        <img src="/public/images/comment.svg" alt="comment" class="stroke-neutral-500 stroke-1.5 w-[0.91rem] h-[0.91rem]">
                        <p class="px-[5px] text-neutral-500 font-normal leading-normal text-sm not-italic">11</p>
                    </div>
    
                    <div class="flex justify-center items-center gap-[0.313rem]">
                        <img src="/public/images/group-26840.svg" alt="retweet" class="w-[1.115rem] h-[0.755rem] ">
                        <p class="px-[5px] text-neutral-500 font-normal leading-normal text-sm not-italic">270</p>
    
                    </div>
    
                    <div class="flex justify-center items-center gap-[0.313rem]">
                        <img src="/public/images/heart.svg" alt="Like" class="stroke-neutral-500 stroke-1.5 w-[0.91rem] h-[0.853rem]">
                        <p class="px-[5px] text-neutral-500 font-normal leading-normal text-sm not-italic">1,869</p>
                    </div>
               
                    <div class="flex justify-center items-center gap-[0.313rem]">
                        <div class="flex items-end gap-[0.107rem]">
                            <rect class="w-[0.107rem] h-[0.588rem] bg-neutral-500">
                            <rect class ="w-[0.107rem] h-[0.929rem] bg-neutral-500">
                            <rect class ="w-[0.107rem] h-[0.429rem] bg-neutral-500 ">
                            <rect class="w-[0.107rem] h-[0.714rem] bg-neutral-500">
                                
                            </div>
                            <p class="text-neutral-500 font-normal leading-normal text-sm not-italic">99.6K</p>
                    </div>
    
                    <div class="flex justify-center items-center gap-[0.313rem]">
                        <img src="/public/images/vector.svg" alt="vector" class="w-[0.956rem] h-[1.063rem] fill-neutral-500">
                    </div>
                    
    
                </div>
                
            </div>
    
            </div>
    
        </div>
    </section>
   
    
</body>
</html>