<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/output.css">
    <title>Document</title>
</head>
<body class="bg-neutral-950" >
<!--     
    <h1 class="text-3xl font-bold underline text-white">
        Hello world!
      </h1>
     -->
      <!-- <div class="mx-auto p-[21px] text-center">
        <p>
            <a href="#" class="text-xs text-black-text font-medium leading-normal text-center bg-white py-[6px] px-[18px] gap-6 self-stretch rounded-[48.75px]">
                Sign up with Google
            </a>
        </p>
      </div> -->






       <section class="flex flex-col w-[18.21rem] pt-0 px-[21px] items-start gap-[1.875rem] ">
        <button class="text-xs text-black-text font-medium leading-normal text-center bg-white py-[6px] px-[18px] gap-6 self-stretch flex rounded-ct justify-center items-center shadow-[0px 6px 12px 0px rgba(0, 0, 0, 0.25)] bg-[#FFF] ">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                <g clip-path="url(#clip0_1_1518)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.25 0.5C4.279 0.5 0.25 4.52975 0.25 9.5C0.25 14.4703 4.279 18.5 9.25 18.5C14.2203 18.5 18.25 14.4703 18.25 9.5C18.25 4.52975 14.2203 0.5 9.25 0.5ZM9.355 14.7635C6.454 14.7635 4.105 12.4085 4.105 9.5C4.105 6.5915 6.454 4.2365 9.355 4.2365C10.7725 4.2365 11.9575 4.75925 12.8665 5.60825L11.386 7.09175V7.08875C10.8347 6.56225 10.1357 6.29225 9.355 6.29225C7.6225 6.29225 6.21475 7.75925 6.21475 9.497C6.21475 11.2333 7.6225 12.7048 9.355 12.7048C10.927 12.7048 11.9965 11.8032 12.217 10.5658H9.355V8.513H14.2938C14.3598 8.8655 14.395 9.233 14.395 9.6185C14.395 12.626 12.3873 14.7635 9.355 14.7635Z" fill="black"/>
                </g>
                <defs>
                  <clipPath id="clip0_1_1518">
                    <rect width="18" height="18" fill="white" transform="translate(0.25 0.5)"/>
                  </clipPath>
                </defs>
              </svg>
            <span class="text-center leading-normal text-xs not-italic font-medium text-black-text">Sign up with Google</span>
          </button>



          
          <button class="text-xs text-black-text font-medium leading-normal text-center bg-white py-[6px] px-[18px] gap-6 self-stretch flex rounded-ct justify-center items-center shadow-[0px 6px 12px 0px rgba(0, 0, 0, 0.25)] bg-[#FFF] backdrop-blur-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                <path d="M13.3879 9.9166C13.3809 8.71777 13.924 7.81426 15.0209 7.14805C14.4074 6.26914 13.4793 5.78574 12.2559 5.69258C11.0975 5.60117 9.83008 6.36758 9.36602 6.36758C8.87559 6.36758 7.7541 5.72422 6.87168 5.72422C5.05059 5.75234 3.11523 7.17617 3.11523 10.073C3.11523 10.9291 3.27168 11.8133 3.58457 12.7238C4.00293 13.9227 5.51113 16.86 7.08437 16.8125C7.90703 16.7932 8.48887 16.2289 9.55937 16.2289C10.5982 16.2289 11.1361 16.8125 12.0537 16.8125C13.641 16.7896 15.0051 14.1195 15.4023 12.9172C13.2736 11.9135 13.3879 9.97813 13.3879 9.9166ZM11.5404 4.55527C12.4316 3.49707 12.3508 2.53379 12.3244 2.1875C11.5369 2.2332 10.6264 2.72363 10.1078 3.32656C9.53652 3.97344 9.20078 4.77324 9.27285 5.675C10.1236 5.74004 10.9006 5.30234 11.5404 4.55527Z" fill="black"/>
              </svg>
            <span class="text-center leading-normal text-xs not-italic font-medium text-black-text">Sign up with Apple</span>
          </button>

          <hr class="flex w-262 justify-center items-center gap-[0.188rem]" >

      
      
          <button class="text-xs text-black-text font-medium leading-normal text-center bg-white py-[6px] px-[18px] gap-6 self-stretch flex rounded-ct justify-center items-center shadow-[0px 6px 12px 0px rgba(0, 0, 0, 0.25)] bg-[#FFF] backdrop-blur-lg">
        
            <span class="text-center leading-normal text-xs not-italic font-medium text-black-text">Create account</span>
          </button>
      
      
      
        </section>

     

      

   

 <!-- <div class="flex flex-row ">
    <div class=" bg-slate-500 w-[28.438rem]">
        
          
    </div>


    <div class=" bg bg-slate-50">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur voluptates veniam, ab a suscipit ratione error sed. Fugit odio aut minus. Praesentium expedita reiciendis corporis quis dolorum! Quam, esse omnis?</p>
    </div>
 </div> -->


</body>
</html>