<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/output.css">
    <title>Layouts</title>
</head>
<body class="">
  <section class="inline-flex py-[237px] px-[178px] justify-center items-center bg-black-b1">
    <div class="flex items-center gap-[6.25rem]">
        <img src="/images/100X.png" alt="Logo" class="flex justify-center items-end gap-0.5">
    </div>

    <div class="items-center flex gap-[6.25rem] bg-black-b1">

    </div>

    <div class="flex w-auto h-auto px-7 py-0 flex-col items-start gap-10 bg-black-b1">
        <p class="text-5xl not-italic font-extrabold leading-normal text-neutral/50 ">Happening Now</p>
        <p class="text-[26px] not-italic font-bold leading-normal text-neutral/50  ">Join Today</p>

    </div>
  </section>
</body>
</html>